
/* Style for the video element */
#camera-feed {
    width: 100%; /* Set the video width to 100% to fit the container */
    height: 50%; /* Allow the video's height to adjust according to its width */
    max-width: 100%; /* Add a maximum width for the video */
    border: 5px solid black; /* Border styling */
    border-radius: 10%;
}

@media screen and (max-width: 600px) {
    #camera-feed {
        width: 140%;
        height: 400px;
        
    }
}