.font {
  font-size: 40px;
  text-align: center;
  color: black;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: black;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

