#loginphoto {
    background-image: url('../images/login.png');
    background-color: #a77878;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
  }